.dashboard{
     -fx-background-color: #5cba7000;
  
}

.sidebar {
    -fx-background-color: #ff0000;

}

.sidebar-button-container{
}
.sidebar-button {
    -fx-background-color: #4CAF50;
    -fx-text-fill: white;
    -fx-padding: 10 20;
    -fx-font-size: 14px;
    -fx-border-radius: 5;
    -fx-background-radius: 5;
}


.buy{
     -fx-background-color: #ffffff;
}


.form-container{
    -fx-background-color: #68000000;
    -fx-border-color: #CCCCCC;
    -fx-border-width: 3px;
    -fx-border-radius: 4px;
}
.form-title{
    -fx-text-fill: #8a8a8a;
    -fx-font-size: 10px;
    -fx-padding: 10 0 10 0;
}

.form-content{
    -fx-padding: 20 20 15 10;

}

.custom-combo-box{
    
}

.custom-text-field{
    
}

.image-view{

}

.custom-text-area{
    
}

/**
* Table View
**/
.table-view-container{
    -fx-background-color: #00ff8c;
}